/*
  Web Portfolio
  Author: Lisa Bernard
  Date: December 6th, 2016

  Supporting Files: resume.html
*/

/*
  headings
*/

#shortterm {
  margin-top: 8em;
}

h3, dl {
  padding-left: 5em;
}

dt {
  font-weight: bold;
  color: cyan;
}

dd {
  padding-bottom: 1em;
}