/*
  Web Portfolio
  Author: Lisa Bernard
  Date: December 6th, 2016

  Filename:         home.css
  Supporting Files: home.html, worksamples.html, skils.html, goals.html, about.html, resume.html, doom.html and contact.html
*/

p {
  font-size: 1.1em;
  padding-left: 10%
}

p#images {
  font-weight: bold;
  padding-top: 1em;
  padding-left: 12%;
}