/*
  Web Portfolio
  Author: Lisa Bernard
  Date: October 21st, 2016

 Supporting Files: doom.html
*/

/*
  heading
*/

h2 {
  background-color: rgb(0,116,81);
  background-color: rgba(0,116,81,0.5);
  color: white;
  font-size: 2.3em;
  font-style: oblique;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
  margin-top: 2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
}

h3 {
  padding-top: 3em;
  float: left;
  font-size: 2em;
  padding-left: 6em;
}

h4 {
  font-size: 1.5em;
  text-align: center;
}

/*
  text body
*/

p {
  text-align: left;
  padding-top: 3em;
  font-weight: bold;
  font-size: 1.2em;
  width: 79%;
  padding-left: 10%;
  padding-right: 10%;
}

#py {
  padding-left: 11%;
  width: 80%;
}

#s2 {
  display: block;
}

/* 
  video
*/

video {
  padding-left: 5em;
}

/*
other
*/

#pageup {
  text-align: center;
  font-size: 0.75em;
  text-decoration: none;
  margin-top: 1em;
  padding-top: 1em;
  display: block;
}