/*
  Web Portfolio
  Author: Lisa Bernard
  Date: March 14th, 2018

  Supporting Files: index.html, resume.html, goals.html, work.html
*/

/* HTML  */
html {
  min-width: 60em;
  max-width: 150%;
}

/* Body */
body {  
  font-family: calibri, arial, times new roman;  
  background-image: url(back2.png);
  background-size: 100%; 
  background-repeat: repeat-y;
  width: 92%; 
  font-size: 1.1em;
  background-color: black;
  -webkit-text-size-adjust: 100%;
}


/* Header  */
header {
   width: 107.1%;
}

/* Section  */
section {
  padding-top: 1em;
  padding-left: 6em;
  margin-left: -6em;
  background-color: darkblue;
  background-color: rgba(0,38,255,0.3);
  border-color: dodgerblue;
  border-style: solid;
  border-width: 3px;
  padding-bottom: 1em;
  margin-bottom: 2em;
  color: white;
}

/* Section specific Padding */
section.blue_padding, section.white_padding {
  padding-left: 10%;
  padding-right: 5%;
}

section.blue_padding_right, section.white_padding_right {
  padding-right: 15%;
  padding-left: 15%;
}

/* Section colors */
section.white_padding_right, .white_padding {
  background-color: grey;
  background-color: rgba(100,100,100,0.25);
  border-color: rgb(255,255,230);
}

section.white_padding_right dt, section.white_padding_right a {
  color: cyan;
}

/* Section hover */
section.blue_padding_right:hover, .blue_padding:hover {
  background: grey;
  background-color: rgba(0,38,255,0.1);
  border-color: cyan;
}

section.white_padding_right:hover, .white_padding:hover {
  background: grey;
  background-color: rgba(100,100,100,0.1);
  border-color: lightgrey;
}

/* H3  */
h3.out {
  color: white;
  width: 99%;
  text-align: center;
  font-size: 1.5em;
  font-style: oblique;
  margin-top: 0.1em;
}

/* dl  */
dl {
  font-weight: normal;
}

/* dd  */
dd {
  margin-left: -0.1em;
  padding-bottom: 0.8em;
}

/* dt  */
dt {
  height: 1.5em;
}

/* H3 and H4  */
h3, h4 {
  text-align: center;    
} 

a {
  color: cyan;
}

p {
  font-size: 1.2em;
}

/*
  ul
*/

ul {
  list-style: none;
}

ul.indentless {
    margin-left: -3em;
    color: cyan;
}

ul.bullet {
  list-style: square;
}

ul.indent-bullet {
  list-style: square;
  padding-left: 8em;
}

a img {
  border:none;
  outline:none;
}