/*
  Web Portfolio
  Author: Lisa Bernard
  Date: March 14th, 2016

  Supporting Files: resume.html
*/

/* moves the menu up */
html {
  margin-top: -1.85em;
}

/* moves first element down */
#education {
  margin-top: 8em;
}

/* PDF link */
#pdf {
    float: right;
    padding-right: 3em;
    font-size: 1.5em;
}

/* All sections */
section {
  padding-top: 1em;
  padding-left: 6em;
  margin-left: -6em;
  background-color: darkblue;
  background-color: rgba(0,38,255,0.25);
  border-color: dodgerblue;
  border-style: solid;
  border-width: 3px;
  padding-bottom: 1em;
  margin-bottom: 2em;
  color: white;
}

/* Certifications selection title */
#certifications  {
    background: none;
    border-style: none;
    margin-top: -2em;
    font-size: 1.2em;
}

/* Certifications selection subtitles */
h5.safety {
  color: cyan;
  font-size: 1em;
}

/* Certifications selection images */
img.cert {
  background-color: darkblue;
  background-color: rgba(0,200,255,0.3);
  border-color: cyan;
  border-style: solid;
  border-width: 4px;
}

/* Certifications selection WHMIS article */
#WHMIS {
  float: left;
  margin-left: 15%;
  display: block;
}

#WHMIS ul {
  margin-left: 5em;
}

#WHMIS h5 {
  margin-left: 8em;
}

/* Certifications selection OHS article */

#OHS {
  float: right;
  margin-right: 10%;
  text-align: right;
}

#OHS ul {
  margin-right: 5em;
}

#OHS h5 {
  margin-right: 9em;
}

/*
  basic formatting
*/

#certifications,  #nscc, #experiance, #buisness, #co-op, #m30, #toysrus, #news {
  padding-left: 5em;
}

ul, dl, p {
  font-weight: normal;
}

#soft {
  list-style-type: bullet;
}

/*
  description list
*/

dt.achievements {
  font-weight: bold;
}

/*
  font size
*/

li, p, h4, dl {
    font-size: 1.2em;
}